@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,900;1,700&family=Merriweather&display=swap');
*{
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li a{
    text-decoration: none;
}

.flex-container{
    display: flex;
    max-width: 992px;
    margin: auto;
    width: 100%;
    min-width: 320px;    
}


header{
    background-color: #00004e;
    height: 100px;
    display: flex;
    align-items: center;
    color: #fff;
}

header .list-items{
    display: flex;
    max-width: 260px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.list-items li a{
    color: #fff;
}

header .menu{
    justify-content: space-between;
}

.apresentacao{
    height: 70vh;
    align-items: center;
    justify-content: space-between;    
}

.apresentacao .texto-apresentacao{
    min-height: 200px;    
}

.texto-apresentacao h1{
    color: #00004e;
    font-size: 48px;
    margin-bottom: 10px;
}

.btn{
    background-color: #00004e;
    color: #fff;
    text-align: center;
    border-radius: 30px;
    width: 220px;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    text-decoration: none;
}

#quem-somos{
    flex-direction: row-reverse;    
    align-items: center;
    justify-content: space-between;
}

#quem-somos h2{
    font-size: 32px;
    color: #00004e;
    display: flex;
    margin-bottom: 20px;
}

#quem-somos h2::before{
    content: "";
    height: 50px;
    width: 5px;
    margin-right: 5px;
    background-color: #00004e;
    position: relative;
}

#quem-somos p{
    margin-bottom: 10px;
    width: 90%;
    text-align: justify;
}

#quem-somos img{
    min-width: 320px;
    margin: auto;
}

.container-externo{
    background-color: #00004e;    
    width: 100%;    
}

#servicos{
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 100px;
}

#servicos h2{
    color: #fff;
    font-size: 32px;
    margin-bottom: 20px;
}

.list-servicos{    
    display: flex;
    justify-content: space-between;
}

.list-servicos .item-servico{
    text-align: center;   
}

.item-servico .btn{
    background-color: #fff;
    margin-top: 20px;
    width: 220px;
    border-radius: 15px;
    text-align: center;    
    line-height: 50px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    color: #00004e;    
    padding: 10px 10px;       
}

.item-servico p{
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin-top: 20px;  
}

.item-servico img{
    width: 60%;
    margin: auto;
}

#planos{
    flex-direction: column;    
    min-height: 100vh; 
    padding-top: 50px;   
}

#planos h2{
    font-size: 32px;  
}

.list-planos{
    display: flex;
    align-items: flex-end;    
    justify-content: space-between;
}

.item-planos{
    border: 4px solid #00004e;
    flex: 1;
    margin-right: 20px;    
    padding: 10px;   
    max-width: 240px;    
}

.item-planos .btn{
    margin: auto;   
    margin-bottom: 20px;
}

.item-planos h3{
    font-size: 24px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
}

.item-planos h3::after{
    content: "";
    background-color: #00004e;
    width: 100%;
    height: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.item-planos ul{
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.item-planos ul li{
    display: flex;
    flex-wrap: nowrap;
    align-items: center; 
}

.item-planos ul li::before{
    content: "";
    width: 10px;
    height: 10px;
    background-color: #00004e;
    margin-right: 10px; 
}

footer{
    background-color: #00004e;
    height: 70px;
    color: #fff;
    display: flex;
    align-items: center;
}

footer .footer{
    justify-content: space-between;
}

/* Mobile */
@media(max-width: 992px) {
    .flex-container{
        flex-direction: column;
    }

    .apresentacao{
        flex-direction: column-reverse;       
    }

    .apresentacao .texto-apresentacao{
        width: 100%;       
    }

    #quem-somos{
        flex-direction: column-reverse;
    }

    .list-servicos{
        flex-direction: column;
        align-items: center;
    }

    .item-servico img{
        width: 50%;
        margin: auto;
    }

    .list-planos{
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    .list-planos .item-planos{
        max-width: 90%;
        margin: auto;
        width: 100%;
        margin-bottom: 20px;
    }
}